.idea
.vscode
swagger/
logs/
tmp/
cache/
node_modules/
/dist/
vendor/
swagger.zip
routers/commentsRouter.go
.DS_Store
*.exe
*.exe~
*.suo
*.ntvs*
*.njsproj
*.sln
npm-debug.log*
yarn-debug.log*
yarn-error.log*